body{
     color
     background-color: blue;
     margin:  opx;
     font - family: 



.chamada{
     background: black;
     margin-top: 80px;
     margin-bottom: 80px;
     display: flex;
     justify-content: center;